@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }
@media screen and (max-width: 800px) {
body {
font-size: 1.5em;
/* 
	that will make fonts 150% larger, if you want smaller fonts on 	mobile use something like .9em for 90% smaller
*/
}
img {
	width: 100%;
	height: auto;
}
div {
	font-size: 5vw;
	float: none;
	width: 100%;
	height: auto;	
}
/* 
	add specific classes and id's, section, 
	article, aside or whatever other tags you may have made columns 
	with.
	You may need to zero out or reduce your margin and padding too.
*/
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .navbar {
    position: fixed;
    width: 100%;
    background-color: #faf6f6;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo-image{
    width: 46px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.second-part{
  background-color: aqua;

}
.column {
  float: left;
  width: 4.33%;
  font-size: large;
  padding-right: 80px;
  border:2px solid aqua;
  background-color: white;
  text-align:center;
  line-height: 20%;
 
}
.row{
  margin-left:460px;
align-content: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
p.venue{
  text-align: center;
  color: #f9f9f9;
  font-size:30px;
  line-height: 20%;
}
#main{
  align-content: center;
}
p{
 font-size: 30px;
 margin-left: 30px;
}
h1{
  margin-left: 30px;
 
}
.button {
  background-color:white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 220px;
  margin-right: 500px;
  border-radius: 30%;
}
.but {
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30%;
  
}
.button:hover{
  background-color: black;
  color: white;
}
.but:hover{
  background-color: black;
  color: white;
}
.card{

  box-shadow: 0 4px 8px 0 black;
}
.under{
    text-decoration-line: underline;
    border-bottom: solid 2px blue;
      display: inline;
      padding-bottom: 3px;  
    text-decoration-color: white;
}
.third-part{
  background-color:lightgrey;
}
.sixth-part{
  background-color:blue;
}
.column1 {
 margin-left: 100px;
 float:left;
  width: 22.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row1::after {
  content: "";
  clear: both;
  display: table;
}
.butt{
  margin-left: 600px;
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30%;
}
h9{
  margin-left: 100px;
  font-size: x-large;
}
.butt:hover{
  background-color: black;
  color: white;
}
th, td {
  padding: 15px;
  color: #f9f9f9;
}
