@media only screen and (max-width: 600px) {
  .img{

    width: 100%;
  }
   .img-fluid{
     width: 0px;
     height: 0px;
   } 
   .navbar {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #faf6f6;
  }
  a{
    display: inline;

  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .second-part{
    background-color:aqua;
    width: 100%;
   
  }
  .column {
    font-size: large;
    border:2px solid aqua;
    background-color: white;
    text-align:center;
    line-height: 20%;
  }
 
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .im,.im1,.im3{
    width:100%;
  }
  p.venue{
    text-align: center;
    color: #f9f9f9;
    font-size:30px;
    line-height: 20%;
  }
  #main{
    align-content: center;
  }
  p{
   font-size: 30px;
   margin-left: 30px;
  }
  h1{
    margin-left: 30px;
   
  }
  .button {
    background-color:white; /* Green */
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 140px;
    
    border-radius: 30%;
  }
  .but {
    background-color: yellow; /* Green */
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 120px;
    border-radius: 30%;
    
  }
  .button:hover{
    background-color: black;
    color: white;
  }
  .but:hover{
    background-color: black;
    color: white;
  }
  .head{
    font-size: 25px;
    color:blue;
    margin-left: 100px;
    text-shadow:2px 2px 5px black;
  }
  .head1{
  font-size: 25px;
  color:white;
  margin-left: 100px;
  text-shadow:2px 2px 5px black;
  }
  .p1{
    font-size:10 px;margin-left: 240px;line-height: 200%; color:cornsilk;
  }
   .cen{
    font-size: 40px;color:blue;margin-left: 100px;text-shadow:2px 2px 5px black;
   }
   .third-part{
    background-color:lightgrey;
  }
  .sixth-part{
    background-color:blue;
  }
}

@media only screen and (min-width: 600px){
body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .navbar {
    position: fixed;
    width: 100%;
    background-color: #faf6f6;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .im{width:400px;height:300px;margin-left:140px;
  float: left;}
  .im3{
    width:400px;height:300px;margin-right:240px;
    float: RIGHT;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo-image{
    width: 46px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.second-part{
  background-color: aqua;

}
.column {
  float: left;
  width: 4.33%;
  font-size: large;
  padding-right: 80px;
  border:2px solid aqua;
  background-color: white;
  text-align:center;
  line-height: 20%;
 
}
.row{
  margin-left:460px;
align-content: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
p.venue{
  text-align: center;
  color: #f9f9f9;
  font-size:30px;
  line-height: 20%;
}
#main{
  align-content: center;
}
p{
 font-size: 30px;
 margin-left: 30px;
}
h1{
  margin-left: 30px;
 
}
.button {
  background-color:white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 220px;
  margin-right: 500px;
  border-radius: 30%;
}
.but {
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30%;
  
}
.button:hover{
  background-color: black;
  color: white;
}
.but:hover{
  background-color: black;
  color: white;
}
.card{

  box-shadow: 0 4px 8px 0 black;
}
.under{
    text-decoration-line: underline;
    border-bottom: solid 2px blue;
      display: inline;
      padding-bottom: 3px;  
    text-decoration-color: white;
}
.third-part{
  background-color:lightgrey;
}
.sixth-part{
  background-color:blue;
}
.column1 {
 margin-left: 100px;
 float:left;
  width: 22.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row1::after {
  content: "";
  clear: both;
  display: table;
}
.butt{
  margin-left: 600px;
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30%;
}
.h9{
  margin-left: 100px;
  font-size: x-large;
}
.butt:hover{
  background-color: black;
  color: white;
}
th, td {
  padding: 15px;
  color: #f9f9f9;
}
.head{
  font-size: 40px;
  color:blue;
  margin-left: 280px;
  text-shadow:2px 2px 5px black;
}
.head1{
font-size: 40px;
color:white;
margin-left: 280px;
text-shadow:2px 2px 5px black;
}
.im1{
  width:400px;height:300px;margin-left:170px;
    float: left;
}
.p1{
  font-size:10 px;margin-left: 240px;line-height: 200%; color:cornsilk;
}
.cen{
  font-size: 40px;color:blue;margin-left: 380px;text-shadow:2px 2px 5px black;
}
.p2{
 font-size:10 px;margin-left: 240px;line-height: 200%; color:black;
}
.p3{
  font-size: px;margin-right: 40px;text-align: justify;margin-left: 140px;line-height: 200%;
}
}